# Ignore all .idea, but allow shared configs
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/codeStyles/*
!.idea/runConfigurations/*

# Gradle
.gradle/
build/
**/build/

# Local configs
local.properties
/local.properties

# OS files
.DS_Store

# IML files
*.iml

# Native builds
.cxx/
externalNativeBuild/

# Android captures
captures/

##############################
### Keystore & secrets
##############################
*.keystore
*.jks
secrets.properties

##############################
### Generated
##############################
.kotlinc/
.kotlin/
